/* Variables & Mixins Test - R & Design 4.0 */

// Colours and gradients
$black: #000000
$white: #ffffff
$alt-black: #3A3A3A
$purple: #352EB6


// Shadows
$main-shadow: 0px 30px 40px rgba(174, 195, 228, 0.5)
$dark-shadow: 0px 30px 40px rgba(10, 21, 39, 0.75)

=box-shadow($shadow) 
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    -ms-box-shadow: $shadow
    box-shadow: $shadow    


// Text - Insert Bodoni 72 Font
$font: 'Poppins', sans-serif
$style: normal
$weight-semibold: 600
$weight-medium: 500
$weight-regular: 400

$title-serif: min(110px, 8vw)
$title-sans-serif: min(110px, 8vw)
$subtitle: min(30px, 3vw)
$text:  min(20px, 2vw)


// Asset Styling
$radius-large: 20px
$radius-small: 10px

=border-radius($radius)
    -moz-border-radius: $radius
    -webkit-border-radius: $radius
    border-radius: $radius