/* SASS Test Stylesheet - R & Design 4.0 */

/** Imports **/
@import variables-mixins
@import cursor
@import navbar
@import projects
@import footer

/** Main Styling **/
section#one
    height: 100vh
    width: 100vw
    transition: transform 0.45s ease-out
    will-change: transform

    h1
        color: $white
        font-size: $mega
        font-family: $font
        text-align: center
        transition: transform 0.1s ease-out
        will-change: transform

        position: absolute
        width: 80%
        top: 20%
        left: 50%
        transform: translate(-50%, -50%) !important
        z-index: 20